# Sample env file

VITE_IS_PROD=false
VITE_API_URL=http://localhost:8000/api
VITE_WEBSOCKET_URL=${VITE_API_URL}/chat/ws
VITE_YOUTUBE_API_KEY=sample-youtube-api-key
VITE_SENTRY_DSN=sample-sentry-dsn
SENTRY_AUTH_TOKEN=sample-sentry-auth-token
