:root {
  --palette-static-white: #fff;
  --palette-static-black: #222;
  --palette-font-gray: #a4a4a4;
  --palette-font-gray-strong: #888;
  --palette-icon-normal: #444;
  --palette-primary: #ff9100;
  --palette-primary-normal: #06f;
  --palette-primary-strong: #005eeb;
  --palette-primary-heavy: #0054d1;
  --palette-label-normal: #171719;
  --palette-label-strong: #000;
  --palette-label-neutral: #2e2f33e0;
  --palette-label-alternative: #37383c9b;
  --palette-label-assistive: #37383c47;
  --palette-label-disable: #37383c28;
  --palette-background-notification: #f7f7f8;
  --palette-background-normal-normal: #fff;
  --palette-background-normal-alternative: #f7f7f8;
  --palette-background-elevated-normal: #fff;
  --palette-background-elevated-alternative: #f7f7f8;
  --palette-interaction-inactive: #989ba2;
  --palette-interaction-disable: #f4f4f5;
  --palette-line-normal-normal: #d4d4d4;
  --palette-line-normal-neutral: #70737c28;
  --palette-line-normal-alternative: #70737c14;
  --palette-line-solid-normal: #e1e2e4;
  --palette-line-solid-neutral: #eaebec;
  --palette-line-solid-alternative: #f4f4f5;
  --palette-status-positive: #00bf40;
  --palette-status-cautionary: #ff9200;
  --palette-status-negative: #ff4242;
  --palette-accent-lime: #58cf04;
  --palette-accent-cyan: #00bdde;
  --palette-accent-lightBlue: #00aeff;
  --palette-accent-violet: #6541f2;
  --palette-accent-pink: #f553da;
  --palette-accent-redOrange: #ff5e00;
  --palette-accent-purple: #cb59ff;
  --palette-inverse-primary: #3385ff;
  --palette-inverse-background: #1b1c1e;
  --palette-inverse-label: #f7f7f8;
  --palette-fill-normal: #70737c14;
  --palette-fill-strong: #70737c28;
  --palette-fill-alternative: #70737c0c;
  --palette-material-dimmer: #17171984;
  --palette-elevation-shadow-light: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  --palette-elevation-shadow-normal: 0px 0px 1px 0px rgba(0, 0, 0, 0.08),
    0px 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  --palette-elevation-shadow-emphasize: 0px 0px 1px 0px rgba(0, 0, 0, 0.08),
    0px 1px 4px 0px rgba(0, 0, 0, 0.08), 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  --palette-elevation-shadow-strong: 0px 0px 4px 0px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  --palette-elevation-shadow-heavy: 0px 0px 8px 0px rgba(0, 0, 0, 0.08),
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 16px 20px 0px rgba(0, 0, 0, 0.12);
}

:root {
  color: var(--palette-static-black);
}

input::placeholder {
  color: var(--palette-label-assistive);
}

/* line clamp */

.clamp-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
